extends layout

block content
  table.table.table-bordered
    thead.table-light
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') SpeciesId
        th(scope='col') OwnerId
        th(scope='col') Breed
        th(scope='col') Age
        th(scope='col') Colour
        if user && user.Role === 'admin'
          th(scope='col' colspan='2' style='text-align: center;') Actions
    tbody
      each animal in data
        tr
          th(scope='row')= animal.Id
          td= animal.Name
          td= animal.SpeciesId
          td= animal.OwnerId
          td= animal.Breed
          td= animal.Age
          td= animal.Colour
          if user && user.Role === 'admin'
            td(style = 'text-align: center;')
              a(href='/animals/' + animal.Id + '/delete') Delete
            td(style = 'text-align: center;')
              a(href='/animals/' + animal.Id + '/edit') Edit
